/* Put your code here */
        body {
            background-color: lightyellow;
        }

        .menu-plan {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100vh;
        }
        
        .square {
            background-color: white;
            position: relative;
            border-radius: 10px;
            width: 220px;
            height: 250px;
            padding: 60px;
            margin: 10px;
            text-align: center;
            font-weight: bold;
        }

        .add-button {
            width: 60px;
            height: 25px;
            display: flex;
            justify-content: center;
            font-weight: bold;
            cursor: pointer;
        }

        #total-cost {
            background-color: whitesmoke;
            position: fixed;
            top: 0;
            right: 0;
            border-radius:5px;
            padding: 10px;
            width: 200px;
            text-align: center;
        }

        #display-sum {
            background-color: white;
            text-align: center;
            padding: 10px;
        }

        .pictures {
            display: flex;
            justify-content: center;
            width: 215px;
            padding: 5px;
        }

        #legal-notice {
            padding: 5px;
        }